#!/bin/bash
# all
MAILTO="popstas@gmail.com"

# dbdump, dbundump
DB_BACKUPS_ROOT="/var/backups/sql"
DB_BACKUPS_LOG="/var/log/mysql_backup.log"

DB_BACKUPS_REMOTE_USER="root"
DB_BACKUPS_REMOTE_HOST="mysql_backup"
DB_BACKUPS_REMOTE_DIR="/var/backups/sql/remote_host"

DB_BACKUPS_EXCLUDED_DBS="_test$"

# backups-check
BACKUPS_CHECK_DIRS=(
"$DB_BACKUPS_ROOT"
)

# db-size
DB_SIZE_NAMES_FILE="/root/log/drupal_dbs.log"
DB_SIZE_SIZES_FILE="/root/log/drupal_dbs_sizes.log"
DB_SIZE_CACHE_MINS=30

# domains-check
DOMAINS_CHECK_DNS="8.8.8.8"
DOMAINS_CHECK_ASSERT_IP="your_server_ip"

# detect-viruses
VIRUSES_LOG="/var/log/viruses.log"
VIRUSES_PHP_SIGNATURES="eval(base64_decode\|'base'.(32*2\|eval(stripslashes\|FilesMan\|WSO_VERSION\|\$sF=\"PCT4BA6ODSE_\"\|\$qV=\"stop_\""
VIRUSES_JS_SIGNATURES="document.write(unescape"

# drupal-build-archives
DRUPAL_PROJECTS_ROOT="/usr/local/drupal"
DRUPAL_PROJECTS_BUILD_ROOT="$DRUPAL_PROJECTS_ROOT/build"

# drupal-enable-caches
DRUPAL_CACHE_LIFETIME=43200
DRUPAL_PAGE_CACHE_MAXIMUM_AGE=300

# drupal-get-drupals
DRUPAL_ROOT_LEVEL=4 # for /home/user/www/example.com
SITE_EXCLUDED_FILE=".excluded"
SITE_INFO_FILE=".info"

# get-password
PASSWORD_LENGTH=12

# influxdb-annotate
INFLUXDB_HOST="localhost"
INFLUXDB_PORT=8086
INFLUXDB_USER=""
INFLUXDB_PASSWORD=""
INFLUXDB_DATABASE="telegraf"
INFLUXDB_MEASUREMENT="event"

# influxdb-clientstat
INFLUXDB_CLIENTSTAT_LOG_FILE="/var/log/nginx/clientstat.access.log"

# sites-load
SITES_LOAD_TIME_ENABLED="0"
SITES_LOAD_LOG_FILE="/var/log/nginx/access.log"

# ssh-add-keys
SSH_PUBLIC_KEYS_DIR="/root/ssh-public-keys"
